<!-- students\templates\students\add.html -->

{% extends "students/base.html" %}

{% block body %}
  <h3 class="text-center m-4">เพิ่มนักศึกษา</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      เพิ่มข้อมูลนักศึกษาใหม่เรียบร้อย
      <a href="{% url 'index' %}" class="alert-link">กลับหน้าหลัก</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-address-card fa-lg"></i> ลงทะเบียนนักศึกษา
          </div>
          <div class="card-body">
            <form action="{% url 'add' %}" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">เพิ่ม</button>
              <a href="{% url 'index' %}" class="btn btn-secondary">ยกเลิก</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}